/*** reset styles ***/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  color: #000;
  background: #FFF
}


body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
a,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  display: inline-block;
  border: 0;
}

address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font: inherit;
}

b,
strong {
  font-weight: 700;
}

del,
ins {
  text-decoration: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}


label {
  font-weight: 500;
  margin-bottom: 0;
}

svg {
  transition: fill 0.3s ease;
}

/*** Content ***/

body {
  min-width: 320px;
  font-family: Georgia, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  

  color: #000;
  background-color: #FFF;

  cursor: url(../icon/a-arr.svg), default;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

a,
button {
  cursor: url(../icon/a-arr.svg), default;
}
a:hover,
button:hover {
  cursor: url(../icon/a-hand.svg), pointer;
}

.btn {
  display: inline-block;

  padding: 15px 45px;

  font-size: 17px;
  line-height: 130%;

  letter-spacing: 0.06em;
  
  color: #292929;

  background-color: #F1CDB3;
  border: none;
  border-radius: 100px;

  cursor: url(../icon/a-hand.svg), pointer;

  transition: all 0.3s ease;
}

.btn:hover {
   background-color: #FDDCC4;
}

/*** Header **/


/** Navigation **/

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #1A1A1C 100%), #211F20;}

.container_1 {
    max-width: 1280px;
    
    margin: 0 auto;
    padding: 30px 40px;
     
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation-logo {
  z-index: 5;
}


.menu-icon {
  display: none;  
}


.h1 {
  font-family: Georgia, Arial;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
   
  color: #F1CDB3;

  margin-bottom: 10px;
}

.navigation p {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.navigation-logo:hover .h1,
.navigation-logo:hover p{
  opacity: 0.7;
}

.navigation-nav {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;

  color: #CDCDCD;
}

.navigation-nav-list  a:hover {
  color: #fafafa;
}

.navigation-nav-list {
  display: flex;
  flex-direction: row;
}

.active {
  position: relative;
  width: fit-content;
  color: #fafafa;
  
}

.active::after {
  position: absolute;
  left: 0;
  bottom: -3px;

  content: "";
  width: 100%;
  height: 3px;
  background: #F1CDB3;
}

.navigation-nav-list > li {
  margin-right: 35px;
}

.navigation-nav-list > li:last-child {
  margin-right: 0px;
}

.section-1 {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #1A1A1C 100%), #211F20;
  

  margin-top: 120px;
  padding-top: 220px;
  min-height: 728px;
}

.section-1 > .flex {
  display: flex;
  justify-content: space-between;
  }

.section-1-section {
  margin-bottom: 20px;

  max-width: 460px;
}

.h2 {
  margin-bottom: 40px;

  font-size: 44px;
  line-height: 130%;
    
  color: #FFFFFF;
}

.section-1-section p {
  margin-bottom: 40px;

  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;

  color: #CDCDCD;
}

.section-1-rel {
  width: 698px;
  height: 558px;
  position: relative;

}

.section-1-img {
  width: 100%;
  display: block;

  position: absolute;
  right: 0;
  bottom: 0;
}



/* Media
=================*/

@media (max-width: 1279px) {

  /***Header***/
  .section-1 {
    margin-top:90px;
    padding-top: 60px;
    min-height: 358px;
  }
  .container_1 {
      margin: 0 auto;
      padding: 30px;
  }

  .section-1-rel {
     
   width: 558px;    
  
  }

}

/* 768 */

@media (max-width: 767px) {

  .container {
    padding: 0 30px;
  }

  /***Header***/
  .navigation {
   /* padding-top: 30px;*/
    margin-bottom: 0px;
  }

  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: url(../icon/a-hand.svg), pointer;
    transition: all 0.3s ;
  }

  .menu-icon::before,
  .menu-icon::after,
  .menu-icon span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #F1CDB3;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }

  .menu-icon::before {
    top:0;
  }

  .menu-icon::after {
    bottom: 0;
  }

  .menu-icon span {
    top: 50%;
    transform: translate(0px, -50%);
  }

  .menu-icon:hover span,
  .menu-icon:hover::before,
  .menu-icon:hover::after {
    background-color: #ebe8e5;
  }
  .menu-icon._active span {
    transform: rotate(-90deg) translate(0px, 0px);
  }

  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-90deg) translate(0px, -10px);
  }

  .menu-icon._active::after {
    transform: rotate(-90deg) translate(0px, 10px);
    bottom: 39%;
  }

  

  .navigation-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #292929;
    padding: 250px 40px 40px 40px;
    transition: left 0.3s ease 0s ;
    overflow: auto;
  }

  .navigation-nav._active {
    left: 0;
    opacity: 0.9;
  }

  .navigation-nav::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #1A1A1C 100%), #211F20;
    z-index: 2;

  }

.navigation-nav._active::before {
  
  background: #292929;
}
    .navigation-nav-list {
      flex-direction: column;
    }
    
    .navigation-nav-list>li {
      margin:0px 0px 40px 0px;
    }
  
    .navigation-nav-list>li:last-child {
      margin: 0px 0px 40px 0px;
    }

    .navigation-nav {
      font-size: 32px;
    }

  .section-1 {
    padding-top: 60px;
    min-height: 358px;
  }

  .section-1 >.flex {
    flex-direction: column;
    align-items: center;

  }

  .section-1-section {
    margin-bottom: 100px;
  }


  .section-1-section .btn {
    display: block;
    margin: 0 auto;
  }

  .section-1-rel {
    height: auto;
    width:auto;
    max-width: 569px;
    
  }

  .section-1-img {
    position:relative;

  }


}