/*** reset styles ***/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
a,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.6s ease 0s;
}

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  display: inline-block;
  border: 0;
}

address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font: inherit;
}

b,
strong {
  font-weight: 700;
}

del,
ins {
  text-decoration: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

label {
  font-weight: 500;
  margin-bottom: 0;
}

svg {
  transition: fill 0.3s ease;
}

/*** Content ***/

body {
  min-width: 320px;
  font-family: Georgia, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;

  color: #000;
  background-color: #fff;

  cursor: url(../icon/a-arr.svg), default;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

a,
button {
  cursor: url(../icon/a-arr.svg), default;
}
a:hover,
button:hover {
  cursor: url(../icon/a-hand.svg), pointer;
}

.btn {
  display: inline-block;

  padding: 15px 45px;

  font-size: 17px;
  line-height: 130%;

  letter-spacing: 0.06em;

  color: #292929;

  background-color: #f1cdb3;
  border: none;
  border-radius: 100px;

  cursor: url(../icon/a-hand.svg), pointer;

  transition: all 0.6s ease 0s;
}

.btn:hover {
  background-color: #fddcc4;
}

.h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
/*** Header **/

/** Navigation **/

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #5b483a 0%,
      #1a1a1c 100%
    ),
    #211f20;
}

.container_1 {
  max-width: 1280px;

  margin: 0 auto;
  padding: 30px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-logo {
  z-index: 5;
}

.menu-icon {
  display: none;
}

.h1 {
  font-family: Georgia, Arial;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;

  color: #f1cdb3;

  margin-bottom: 10px;
}

.navigation p {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.navigation-logo:hover .h1,
.navigation-logo:hover p {
  opacity: 0.7;
}

.navigation-nav {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;

  color: #cdcdcd;
}

.navigation-nav-list a:hover {
  color: #fafafa;
}

.navigation-nav-list {
  display: flex;
  flex-direction: row;
}

.active {
  position: relative;
  width: fit-content;
  color: #fafafa;
}

.active::after {
  position: absolute;
  left: 0;
  bottom: -3px;

  content: "";
  width: 100%;
  height: 3px;
  background: #f1cdb3;
}

.navigation-nav-list > li {
  margin-right: 35px;
}

.navigation-nav-list > li:last-child {
  margin-right: 0px;
}

/****Section-1****/

.section-1 {
  background: radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #5b483a 0%,
      #1a1a1c 100%
    ),
    #211f20;

  margin-top: 120px;
  padding-top: 220px;
  min-height: 728px;
}

.section-1 > .flex {
  display: flex;
  justify-content: space-between;
}

.section-1-section {
  margin-bottom: 20px;

  max-width: 460px;
}

.h2 {
  margin-bottom: 40px;

  font-size: 44px;
  line-height: 130%;

  color: #ffffff;
}

.section-1-section p {
  margin-bottom: 40px;

  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;

  color: #cdcdcd;
}

.section-1-rel {
  margin-left: 20px;
  width: 698px;
  height: 558px;
  position: relative;
}

.section-1-img {
  width: 100%;
  display: block;

  position: absolute;
  right: 0;
  bottom: 0;
}

/***Section-2****/

.section-2 {
  padding: 80px 0px 100px 0px;
}

.section-2 > .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-2-rel {
  max-width: 300px;
  margin-right: 20px;
}

.section-2-img {
  width: 100%;
}

.section-2 .h3 {
  color: #545454;
  margin-bottom: 25px;
}

.section-2-section p {
  max-width: 430px;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  font-family: Arial;
  margin-bottom: 25px;
}

/***Section-3****/

.section-3 {
  padding: 80px 0px 100px 0px;

  background-color: #f6f6f6;

  text-align: center;
}

.section-3 .h3 {
  color: #545454;
  margin-bottom: 25px;
}

/***Swiper****/

.swiper {
  padding: 0 30px;
  min-height: 100%;
  margin: 60px auto;
  /*max-width: 1200px;*/
}
.swiper .swiper-wrapper {
  text-align: -webkit-center;
}

.swiper .h4 {
  font-size: 20px;
  color: #545454;
  padding-bottom: 30px;
}

.swiper .swiper-slide {
  width: auto;
}

.swiper .swiper-slide-container {
  width: 270px;
  border-radius: 9px;
  background-color: #fff;
  opacity: 0.8;
  padding-bottom: 30px;
}

.swiper .swiper-slide-container:hover {
  opacity: 1;
}

.swiper .swiper-slide-images {
  padding-bottom: 30px;
}

.swiper .swiper-slide-images img {
  width: 100%;
}

.swiper .swiper-slide-container .btn {
  background-color: #fff;
  border: 2px solid #f1cdb3;
}
.swiper .swiper-slide-container .btn:hover {
  background-color: #f1cdb3;
}

.swiper .swiper-button-prev {
  left: 12px;
}

.swiper .swiper-button-next {
  right: 12px;
  transform: rotate(180deg);
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}

/***Popup****/

.popup {
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  transition: all 0.6s ease 0s;
  overflow: auto;
}

.popup._active {
  top: 0;
}

.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 165px 45px;
}

.popup_content {
  background-color: #fafafa;
  max-width: 900px;
  padding: 20px;
  color: #000;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.4);
  border-radius: 9px;
}

.popup_content_left {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 500px;
}

.popup_content_left img {
  width: inherit;
}

.popup_content_right {
  margin-top: 40px;
  max-width: 350px;
  text-align: left;
}

.popup_content_right > .h3 {
  color: #000;
  margin-bottom: 10px;
}
.popup_content_right > .h4 {
  margin-bottom: 40px;
}

.popup_content_right > p {
  margin-bottom: 40px;
}

.popup_content_right > ul {
  margin-bottom: 80px;
}
.popup_content_right li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 10px;
}

.popup_content_right li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0px, -50%);
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #f1cdb3;
}

.popup_close {
  position: absolute;
  right: -45px;
  top: -45px;
}

/****Section-4*****/

.section-4 {
  text-align: center;
  align-items: center;
  background-color: #fff;
  color: #545454;
  padding: 80px 0px 100px 0px;
}

.section-4 .h3 {
  margin-bottom: 60px;
}

.section-4-icon {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 90px;
  margin-bottom: 45px;
}

.section-4-icon > li {
  min-width: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 55px;
}

.section-4-img {
  max-width: 60px;
  margin-bottom: 30px;
}

.section-4-img img {
  width: 100%;
}

/***Section-5****/

.section-5 {
  color: #545454;
  background-color: #f6f6f6;
  padding: 80px 0px 100px 0px;
}

.section-5 > .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-5-rel {
  max-width: 505px;
  margin-right: 20px;
}

.section-5-img {
  width: 100%;
}

.section-5 .h3 {
  margin-bottom: 20px;
}

.section-5-section-card {
  padding: 10px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: #f1cdb3;
  border-radius: 9px;
}

.section-5-section-card > img {
  padding-right: 15px;
}

.section-5-section-card span {
  font-size: 20px;
  line-height: 115%;
}

.section-5-section p {
  max-width: 430px;
  font-size: 15px;
  margin-bottom: 20px;
}

.section-5-section i {
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
  font-family: Arial;
}

/* Media
=================*/

@media (max-width: 1279px) {
  /***Header***/
  .section-1 {
    margin-top: 90px;
    padding-top: 60px;
    min-height: 358px;
  }
  .container_1 {
    margin: 0 auto;
    padding: 30px;
  }

  .section-1-rel {
    width: 558px;
  }

  /***Section-3 Popup ***/

  .popup_content_left {
    margin-right: 10px;
    width: 350px;
  }

  .popup_content_right {
    margin-top: 10px;
    max-width: 260px;
  }

  .popup_content_right > .h4 {
    margin-bottom: 20px;
  }

  .popup_content_right > p {
    margin-bottom: 20px;
  }

  .popup_content_right > ul {
    margin-bottom: 40px;
  }
}

/* 768 */

@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }

  .h4 {
    font-size: 15px;
  }

  /***Header***/

  .navigation {
    margin-bottom: 0px;
  }

  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: url(../icon/a-hand.svg), pointer;
    transition: all 0.6s ease 0s;
  }

  .menu-icon::before,
  .menu-icon::after,
  .menu-icon span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.6s ease 0s;
    background-color: #f1cdb3;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }

  .menu-icon::before {
    top: 0;
  }

  .menu-icon::after {
    bottom: 0;
  }

  .menu-icon span {
    top: 50%;
    transform: translate(0px, -50%);
  }

  .menu-icon:hover span,
  .menu-icon:hover::before,
  .menu-icon:hover::after {
    background-color: #ebe8e5;
  }
  .menu-icon._active span {
    transform: rotate(-90deg) translate(0px, 0px);
  }

  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-90deg) translate(0px, -10px);
  }

  .menu-icon._active::after {
    transform: rotate(-90deg) translate(0px, 10px);
    bottom: 39%;
  }

  .navigation-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;

    background-color: #292929;

    padding: 250px 39px 40px 39px;
    text-align: center;
    transition: left 0.6s ease 0s;
    overflow: auto;
  }

  .navigation-nav._active {
    left: 0;
    opacity: 0.9;
  }

  .navigation-nav::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    background: radial-gradient(
        110.67% 538.64% at 5.73% 50%,
        #5b483a 0%,
        #1a1a1c 100%
      ),
      #211f20;
    z-index: 2;
  }

  .navigation-nav._active::before {
    background: #292929;
  }
  .navigation-nav-list {
    flex-direction: column;
  }

  .navigation-nav-list > li {
    margin: 0px 0px 40px 0px;
  }

  .navigation-nav-list > li:last-child {
    margin: 0px 0px 40px 0px;
  }

  .navigation-nav {
    font-size: 32px;
  }

  /****Section-1****/

  .section-1 {
    padding-top: 60px;
    min-height: 358px;
  }

  .section-1 > .flex {
    flex-direction: column;
    align-items: center;
  }

  .section-1-section {
    margin-bottom: 100px;
  }

  .section-1-section .btn {
    display: block;
    margin: 0 auto;
  }

  .section-1-rel {
    margin-left: 0;
    height: auto;
    width: auto;
    max-width: 569px;
  }

  .section-1-img {
    position: relative;
  }

  /***Section-2****/

  .section-2 > .flex {
    display: flex;
    flex-flow: column-reverse;
  }

  .section-2-rel {
    margin: 55px 0 0 0;
  }

  /***Swiper***/
  .swiper {
    padding: 0px;
  }

  /***Section-3 Popup ****/

  .popup_content_left {
    display: none;
  }

  .popup_content_right {
    max-width: 220px;
  }

  .popup_content_right > ul {
    margin-bottom: 10px;
  }

  .popup_content_right .h3 {
    font-size: 35px;
    text-align: center;
  }

  .popup_content_right .h4 {
    text-align: center;
  }

  /*Section-4*/
  .section-4 {
    padding: 40px 0px 10px 0px;
  }

  .section-4 .h3 {
    margin-bottom: 40px;
  }

  .section-4-icon {
    padding: 0 15px;
    margin-bottom: 45px;
  }

  .section-4-icon > li {
    min-width: 130px;
    margin-bottom: 30px;
  }

  .section-4-img {
    max-width: 50px;
    margin-bottom: 20px;
  }

  .section-4-img img {
    width: 100%;
  }
  /***Section-5***/
  .section-5 > .flex {
    display: flex;
    flex-flow: column-reverse;
  }

  .section-5-rel {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 374px) {
  .container_1 {
    padding: 30px 50px 30px 10px;
  }
  .container {
    padding: 0 10px;
  }

  .h2,
  .h3 {
    font-size: 25px;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  /***Section-1****/
  .section-1-section {
    padding: 0px 15px;
  }

  /***Section-2****/

  .section-2 {
    padding: 40px 15px;
  }

  .section-2-rel {
    margin-top: 15px;
  }

  /****Section-5*****/
  .section-5 {
    padding: 40px 15px;
  }

  .section-5-rel {
    margin-top: 15px;
  }

  .section-5-section-card span {
    font-size: 15px;
  }
}
